<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Feature Name"/>
            </h1>
        </div>
    </header>

    <div class="form-group">
        <label>Feature Type</label>
        <select name="system.type">
            {{#select system.type}}
            <option value="racial">Racial</option>
            <option value="class">Class</option>
            <option value="background">Background</option>
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>Description</label>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="form-group">
        <label>Properties</label>
        <div class="properties-tags">
            {{#each system.properties}}
            <span class="tag">{{this}}</span>
            {{/each}}
            <input type="text" class="property-input" placeholder="Add property..."/>
        </div>
    </div>

    <div class="form-group">
        <label>Activation</label>
        <select name="system.activation.type">
            {{#select system.activation.type}}
            <option value="passive">Passive</option>
            <option value="action">Action</option>
            <option value="reaction">Reaction</option>
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>Formula</label>
        <input type="text" name="system.formula" value="{{system.formula}}" placeholder="e.g., @abilities.str.mod + @level"/>
    </div>
</form> 