<div class="equipment-container" data-drop-target="true">
    {{!-- Inventory Header --}}
    <div class="inventory-header">
        <div class="inventory-controls">
            <input type="text" class="inventory-filter" placeholder="Search Equipment"/>
            <div class="encumbrance">
                <label>Weight:</label>
                <span>{{totalWeight}} / {{system.attributes.str.weight}}</span>
            </div>
        </div>
    </div>

    {{!-- Weapons Section --}}
    <div class="equipment-section">
        <h3>Weapons</h3>
        <div class="list-header">
            <div class="header-name">Name</div>
            <div class="header-type">Type</div>
            <div class="header-damage">Damage</div>
            <div class="header-speed">Speed</div>
            <div class="header-quality">Quality</div>
            <div class="header-equipped">Equipped</div>
            <div class="header-controls"></div>
        </div>
        <ol class="inventory-list">
            {{#each weapons as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                {{> "item-row" item=item}}
            </li>
            {{/each}}
        </ol>
    </div>

    {{!-- Armor Section --}}
    <div class="equipment-section">
        <h3>Armor</h3>
        <div class="list-header">
            <div class="header-name">Name</div>
            <div class="header-ac">AC</div>
            <div class="header-quality">Quality</div>
            <div class="header-equipped">Equipped</div>
            <div class="header-controls"></div>
        </div>
        <ol class="inventory-list">
            {{#each armor as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                {{> "item-row" item=item}}
            </li>
            {{/each}}
        </ol>
    </div>

    {{!-- Consumables Section --}}
    <div class="equipment-section">
        <h3>Consumables & Ammunition</h3>
        <div class="list-header">
            <div class="header-name">Name</div>
            <div class="header-quantity">Quantity</div>
            <div class="header-quality">Quality</div>
            <div class="header-controls"></div>
        </div>
        <ol class="inventory-list">
            {{#each consumables as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                {{> "item-row" item=item}}
            </li>
            {{/each}}
        </ol>
    </div>

    {{!-- Other Equipment Section --}}
    <div class="equipment-section">
        <h3>Other Equipment</h3>
        <div class="list-header">
            <div class="header-name">Name</div>
            <div class="header-quality">Quality</div>
            <div class="header-value">Value</div>
            <div class="header-controls"></div>
        </div>
        <ol class="inventory-list">
            {{#each equipment as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                {{> "item-row" item=item}}
            </li>
            {{/each}}
        </ol>
    </div>

    {{!-- Add Item Button --}}
    <div class="inventory-footer">
        <div class="item-controls">
            <button type="button" class="item-create" data-type="weapon">
                <i class="fas fa-plus"></i> Add Weapon
            </button>
            <button type="button" class="item-create" data-type="armor">
                <i class="fas fa-plus"></i> Add Armor
            </button>
            <button type="button" class="item-create" data-type="consumable">
                <i class="fas fa-plus"></i> Add Consumable
            </button>
            <button type="button" class="item-create" data-type="equipment">
                <i class="fas fa-plus"></i> Add Equipment
            </button>
        </div>
    </div>
</div> 